.listItem{
    text-decoration: none;
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.listItemFocused{
    text-decoration: none;
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: beige;
}